name: Build and Push dev Docker Images

on:
  workflow_dispatch:  # Allows manual trigger

env:
  REGISTRY: europe-west2-docker.pkg.dev/intense-idea-450416-q0/doctorsclub

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v1"

      - name: "Login to GAR"
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.GC_ERC }}
          username: _json_key
          password: ${{ secrets.GC_SERVICE_ACCOUNT_JSON }}

      - name: Build and Push Images
        run: |
          echo "Running test build..."
          chmod +x ./push.sh
          ./push.sh 